<h2>Patients List</h2>
<div style="margin-bottom: 16px;">
  <label>
    Search by Patient Id:
    <input type="text" [(ngModel)]="searchByPatientId">
  </label>

  <label style="margin-left: 20px;">
    Search by Name:
    <input type="text" [(ngModel)]="searchByName">
  </label>

  
</div>
<button (click)="searchPatient(0)">Search</button>
<button (click)="toggleAddForm()">Add Patient</button>
<br/>
<div style="margin-top: 16px;">
<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>Patient Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients; track patient.id) {
    <tr>
        <td>{{patient.patientId}}</td>
        <td>{{patient.fullName}}</td>
        <td>{{patient.dateOfBirth}}</td>
        <td>{{patient.gender}}</td>
        <td>{{ patient.address }}, {{ patient.suburbName }}, {{ patient.stateName }} {{ patient.postcode }}</td>
        <td>
          <button (click)="viewPatient(patient.id)">View</button>
          <button (click)="toggleEditForm(patient.id)">Edit</button>
          <button (click)="deletePatient(patient.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
</div>

<!-- Pagination -->
<div style="margin-top: 10px;">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">
    Prev
  </button>

  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>

  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">
    Next
  </button>
</div>

<!-- Patient Detail Modal -->
 @if (patientDetails) {
  <div style="margin-top: 20px; border: 1px solid #ccc; padding: 15px; background: #f9f9f9;">
    <h3>Patient Detail</h3>
    <p><strong>Patient Id:</strong> {{ patientDetails.patientId }}</p>
    <p><strong>Name:</strong> {{ patientDetails.fullName }}</p>
    <p><strong>Date of Birth:</strong> {{ patientDetails.dateOfBirth }}</p>
    <p><strong>Gender:</strong> {{ patientDetails.gender }}</p>
    <p><strong>Address:</strong> {{ patientDetails.address }}, {{ patientDetails.suburbName }}, {{ patientDetails.stateName }} {{ patientDetails.postcode }}</p>
    <p><strong>Phone No:</strong> {{ patientDetails.phoneNumber }}</p>

    <button (click)="closeDetail()">Close</button>
  </div>
 }
@if (showAddForm || showEditForm) {
  <div style="margin-top: 20px; border: 1px solid #ccc; padding: 15px; background: #f9f9f9;">
  <h3>Patient Form</h3>
  <p><strong>Patient Id:</strong><input type="text" placeholder="Patient ID" [(ngModel)]="newPatient.patientId"></p>
  <p><strong>First Name:</strong><input type="text" placeholder="FirstName" [(ngModel)]="newPatient.firstName"></p>
  <p><strong>Last Name:</strong><input type="text" placeholder="Last Name" [(ngModel)]="newPatient.lastName"></p>
  <p><strong>Date of birth:</strong><input type="date" placeholder="Date of Birth (yyyy-MM-dd)" [(ngModel)]="newPatient.dateOfBirth"></p>
  <p><strong>Gender:</strong><select [(ngModel)]="newPatient.gender">
    <option value="" disabled>Select Gender</option>
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select></p>
  <p><strong>Address:</strong><input type="text" placeholder="Address" [(ngModel)]="newPatient.address"></p>
  <p><strong>State:</strong> <select [(ngModel)]="newPatient.stateId" (change)="onStateChange($event)">
    <option value="">Select State</option>
    @for (state of states; track state.id) {
      <option [value]="state.id">{{ state.name }}</option>
    }
    
  </select></p>
  <p><strong>Suburb:</strong> <select [(ngModel)]="newPatient.suburbId">
    @for (suburb of suburbs; track suburb.id) {
      <option [value]="suburb.id">{{ suburb.name }}</option>
    }
    
  </select></p>
  <p><strong>Postcode:</strong><input type="text" placeholder="Postcode" [(ngModel)]="newPatient.postcode"></p>
  <p><strong>Phone Number:</strong><input type="text" placeholder="Phone No" [(ngModel)]="newPatient.phoneNumber"></p>
  <button (click)="createPatient()">Save</button>
    @if (showAddForm) {
      <button (click)="toggleAddForm()">Cancel</button>
    }
    @if (showEditForm) {
      <button (click)="toggleEditForm()">Cancel</button>
    }
  
</div>
}
 